/* MAD9013 Exercise 
Author: Jasper Jiaqian Sun
Date Created: Sept 10, 2021 / Last modified: Sept 19, 2021
*/

/* set webpage font  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html {
  font-family: "Ubuntu", sans-serif;
}

/* remove white space */
body {
  margin: 0;
}

/* Hero Banner background image style */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banners/hero-home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 10rem;
  padding-right: 2rem;
  padding-bottom: 10rem;
  padding-left: 2rem;
}

/* Call to Action Banner background image style */
.cTa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banners/soccer-banner-bw.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 5rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
  padding-left: 2rem;
}

/* buttons layout */
.btn {
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  text-decoration: none;
}

/* button - hero banner */
.signUp1 {
  color: #09a38c;
  border: solid 2px #09a38c;
  display: inline-block;
}

/* button - Call to action banner */
.signUp2 {
  color: #f3f6f5;
  border: solid 2px #f3f6f5;
  display: inline-block;
}

/* capitalized the h2 */
.caps {
  text-transform: uppercase;
}

/* hero banner heading text style */
.heroTitle {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  color: #f3f6f5;
}
/* hero banner text style */
.heroText {
  font-size: 1.5rem;
  text-align: center;
  color: #f3f6f5;
  line-height: 2rem;
}

/* call to action banner text style */
.callText {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  color: #f3f6f5;
  line-height: 2rem;
}

/* Last modified: Sept 21, 2021 */
/* week 4 */

/* remove list dots */
ul {
  padding: 0;
}

/* product intro */
.product {
  text-align: center;
}

/* product title style  */
.productTitle {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  color: black;
  display: inline-block;
}

/* product intro texts */
.productText {
  text-align: center;
  font-size: 1rem;
  padding-left: 15rem;
  padding-right: 15rem;
  display: inline-block;
}

/* laptop image */
.laptop {
  max-width: 80%;
  height: auto;
  position: center;
  object-fit: cover;
  display: inline-block;
}
