:root {
  --color-white: #fff;
  --color-beige: #f3f6f5;
  --color-black: #2b2828;
  --color-green-light: #09a38c;
  --color-green-normal: #045d4f;
  --color-green-dark: #05483d;
  --color-red: red;
  --color-light-gray: #ddd;
  --color-gray: gray;
  --color-dark-gray: #525252;
}
